<% include header %>
	
	<div class="container">
		
	  <h1>Movies</h1>
	  
	  <div class="input-row">
	  	<form>
			  <input id="movie-input" name="name" class="movie-input">
			  <input type="submit" id="movie-submit" class="movie-submit" value="Submit!">
		  </form>
	  </div>

	  <div class="movie-list">

	  </div>

  </div>

<% include footer %>