<% include header %>
	
	<div class="container">
		
	  <h1>Movies</h1>
	  
	  <div class="input-row">
		  <input name="name" class="movie-input">
		  <a href="javascript:void(0);" class="movie-submit" role="button">
		  	Submit!
		  </a>
	  </div>

  </div>

<% include footer %>