<% include header %>
	
	<div class="container">
		
	  <h1>Movies</h1>
	  
  	<form id="movie-form" class="input-row">
		  <input id="movie-form-name" name="name" class="movie-name">

		  <span class="watched-by">Already watched by:</span>
		  <label for="movie-form-a">A:</label> <input id="movie-form-a" type="checkbox" name="a">
		  <label for="movie-form-s">S:</label> <input id="movie-form-s" type="checkbox" name="s">

		  <input type="submit" id="movie-submit" class="movie-submit" value="Submit!">
	  </form>

	  <ul id="movie-list" class="movie-list">
	  	<% var movie %>
		  <% for(var i=0; i<movies.length; i++) { %>
		  	<% movie = movies[i] %>
		  	<% include movieItem %>
		  <% } %>
	  </ul>

  </div>

<script type="text/javascript" src="/js/index.js"></script>
<% include footer %>